
body {
    font-family: Roboto;
    font-style: normal;
    color: #757575;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

/*WebStudio color*/

.web {
    color: #212121;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
}

.web > .href {
    font-family: Raleway;
}

.web :hover,
.web :focus {
    color: #2196F3 
}

.efect {
    background-color: #2F303A;
}

.text-h1 {
    color: #ffffff;
    font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.sector-nav a {
    color: #212121;
}
.sector-aut a {
    color: #212121;
}

.sector-nav :hover,
.sector-nav :focus {
    color: #2196F3;
}

.sector-aut :hover,
.sector-aut :focus {
    color: #2196F3;
}

.section-title {
    color: #212121;
    text-transform: uppercase;
    font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.section-title-plus {
    font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.section-title-name {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121; 
}

.section-title-work {
    font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;
}
.text-p {
    font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;
}

/* Footer bg */

footer {
    background: #2F303A;
}

.footer-bg {
    color: #ffffff;
}

.footer-bg-a {
    color: rgba(255, 255, 255, 0.6);
}

.webfooter {
    color: #ffffff;
}

.webfooter :hover,
.webfooter :focus {
    color: #2196F3;
}

.webfooter-color {
    color: #ffffff;
}

/* button*/
button {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

.section-title-buton {
    font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;
}

.section-title-portfolio {
    font-weight: bold;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;
color: #212121;
}

.section-title-portfolio-name {
    font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

letter-spacing: 0.03em;

color: #757575;
}